services:
  angular:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spendlyx-front
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start
